.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
	box-shadow: 0 0 15px -5px rgba($base-color, .5);
}

.site-logo {
	display: block;
	width: 140px;
	height: 55px;
	margin: 1rem 0;

	@include wi-mq(lap) {
		margin: 1rem 0 0;
		width: 120px;
		height: 47px;
	}

	@include wi-mq(desk) {
		margin: 0;
	}

	@include wi-mq(widescreen) {
		width: 245px;
		height: 97px;
		margin: 0;
	}

	svg {
		width: 100%;
	}
}

.section-anchor {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	top: -87px;
	height: 87px;

	@include wi-mq(desk) {
		top: -146px;
		height: 146px;
	}
}